
.pet-container {
    margin: 5%;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif; 
}

.pet-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container {
    width: 100%;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    background: rgba(255, 255, 255, 0.7); 
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 550px;
    width: 350px;
    margin: 10px;
    overflow: visible;
}

.carousel-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.icon-container {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carousel-card:hover .icon-container {
    opacity: 1;
}

.carousel-image {
    width: 100%; 
    height: 300px; 
    border-top-left-radius: 12px; 
    border-top-right-radius: 12px; 
    object-fit: cover;
}

.carousel-details {
    text-align: center;
    padding: 16px;
}

.pet-name {
    font-weight: bold;
    margin-bottom: 8px;
}

.pet-city,
.pet-owner {
    color: #777;
    margin-bottom: 4px;
}

.edit-icon {
    color: #666;
    cursor: pointer;
    transition: color 0.3s ease;
}

.edit-icon:hover {
    color: #333;
}

.delete-icon {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.edit-buttons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.edit-buttons .MuiIconButton-root {
    margin: 0 8px;
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-top: 12px;
    font-size: 1rem;
    box-sizing: border-box;
}