.pet-form-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-form-horizontal {
  display: flex;
  gap: 16px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  border: .5px solid #e0e0e0; 
}

.input-field {
  flex: 1;
  border-radius: 8px; 
}

.submit-button {
  flex-shrink: 0;
  width: 150px; 
  border-radius: 8px; 
}

.snackbar-alert {
  border-radius: 8px; 
}