.login {
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .card {
  width: 50%;
  display: flex;
  background-color: rgb(253, 188, 188);
  border-radius: 10px;
  min-height: 600px;
  overflow: hidden;
}

.login .card .left {
  flex: 1;
  background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
    url("https://img.freepik.com/foto-gratis/retrato-lindo-perro-husky-siberiano-ojos-azules-[…]134e4da7af4a93763f041cbbaf210630d3725598ebf35d63af3a5a6&w=740")
      center;
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  justify-content: center; 
  align-items: center; 
}

.login .card .left h1 {
  font-size: 60px;
  line-height: 100px; 
}

.login .card .left p {
  display: flex;
}

.login .card .left span {
  font-size: 14px;
}

.login .card .left button {
  width: 100%; 
  max-width: 300px; 
  padding: 10px;
  border: none;
  background-color: white;
  color: rebeccapurple;
  font-weight: bold;
  cursor: pointer;
}

.login .card .right {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px; 
  justify-content: center; 
  align-items: center; 
}

.login .card .right h1 {
  color: #555; 
}

.login .card .right form {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  align-items: center; 
}

.login .card .right form label {
  display: block; 
  font-size: 16px; 
  color: #938eef; 
  margin-bottom: 5px; 
}

.login .card .right form input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 10px 5px;
  width: 100%; 
  max-width: 300px; 
}

.login .card .right form button {
  width: 100%; 
  max-width: 300px; 
  padding: 10px;
  border: none;
  background-color: #b7c9f2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


@media (max-width: 767px) {
  .login .card {
      width: 90%;
      flex-direction: column;
  }

  .login .card .left h1 {
      font-size: 60px;
      line-height: 60px;
  }
}


@media (max-width: 479px) {
  .login .card .left h1 {
      font-size: 40px;
      line-height: 40px;
  }

  .login .card .left button,
  .login .card .right form button {
      width: 100%;
  }

  .login .card .right form input {
      padding: 10px 5px;
  }
}






